$primary-color: hsl(14, 45%, 36%);
$secondary-color: hsl(332, 51%, 32%);

$white-color: hsl(0, 0%, 100%);
$roseWhite-color: hsl(330, 100%, 98%);
$eggShell-color: hsl(30, 54%, 90%);
$lightGrey-color: hsl(30, 18%, 87%);
$wengeBrown-color: hsl(30, 10%, 34%);
$darkCharcoal-color: hsl(24, 5%, 18%);

$primaryFont-light: 400 16px "YoungSerif", "sans-serif";
$secondaryFont-light: 400 16px "Outfit", "sans-serif";
$secondaryFont: 600 16px "Outfit", "sans-serif";
$secondaryFont-bold: 700 16px "Outfit", "sans-serif";
